<title page-title="{{#block "title-override"}}{{/block}}" data-update="{{#with map}}{{database.map.stats.app_version}}{{/with}}">
    {{#block "title"}}Trials Frontier Trackmap{{/block}}
</title>

<meta http-equiv="Access-Control-Allow-Origin" content="*">

<meta name="copyright" content="© {{year}} dutscher-DE" />
<meta http-equiv="last-modified" content="{{lastUpdateTimeISO}} TMZ" />
<meta http-equiv="content-language" content="de,en,fr,es,ru,pt,it" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<meta property="og:title" content="Trials Frontier Trackmap | Guide for Data-Cubes, Candies & Youtube How-tos"/>
<meta property="og:url" content="http://trialstrackmap.sb-f.de/"/>
{{#with gfx}}
    <meta property="og:image" content="{{hoster images.trackmap.1.src hoster}}"/>
{{/with}}

<link rel="icon" href="favicon.ico" type="image/x-icon"/>

{{#block "styles"}}
    <link rel="stylesheet" type="text/css" href="/css/style-icons.css{{cacheBuster}}"/>
    <link rel="stylesheet" type="text/css" href="/css/style-common.css{{cacheBuster}}"/>
    <style preload-images data-event="{{#block "data-event"}}{{/block}}"></style>
{{/block}}

<script type="text/javascript" src="/dist/vendor.min.js{{cacheBuster}}"></script>
<script type="text/javascript" src="/dist/map.min.js{{cacheBuster}}"></script>