<title page-title="{{#block "title-override"}}{{/block}}" data-update="{{#with map}}{{version}}{{/with}}">
    {{#block "title"}}{{title}}{{/block}}
</title>
<meta name="description" content="{{#block "description"}}{{description}}{{/block}}"/>

<meta name="copyright" content="© {{year}} dutscher-DE"/>
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta http-equiv="last-modified" content="{{lastUpdateTimeISO}} TMZ"/>
<meta http-equiv="content-language" content="de,en,fr,es,ru,pt,it"/>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>

<meta name="robots" content="index, follow"/>
<meta name="google-site-verification" content="Hkk-F3cJa0eZ34g0qDeaBN6XfXBvhFPmOZd1w0C2MbE"/>

<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-title" content="{{#block "title"}}{{title}}{{/block}}"/>

<meta property="og:title" content="{{#block "title"}}{{title}}{{/block}}"/>
<meta property="og:description" content="{{#block "description"}}{{description}}{{/block}}"/>
<meta property="og:url" content="{{#block "url"}}http://trialstrackmap.sb-f.de{{/block}}"/>
<meta property="og:type" content="Website"/>
<meta property="og:image" content="{{#block "image"}}https:{{hoster gfx.images.trackmaps.1.src hoster}}{{/block}}"/>

<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="icon" href="app-icon.png" sizes="192x192"/>
<link rel="apple-touch-icon" href="app-icon.png"/>
<meta name="theme-color" content="#3a281d"/>

{{#block "styles"}}
    <link rel="stylesheet" type="text/css" href="/css/style-icons.css{{cacheBuster}}"/>
    <link rel="stylesheet" type="text/css" href="/css/style-common.css{{cacheBuster}}"/>
    <style preload-images
           data-event="{{#block "preload-images"}}{{/block}}"
           data-load-only="{{#block "preload-only"}}all{{/block}}">
    </style>
{{/block}}
{{#block "vendor-scripts"}}
    <script type="text/javascript" src="/dist/js/vendor.min.js{{cacheBuster}}"></script>
{{/block}}
<script type="text/javascript" src="/dist/js/map.min.js{{cacheBuster}}"></script>