<label>{{title}}:</label>
    <select selected-index="{{selected}}" type="{{type}}">
        {{#eachProperty costums}}
            <option value="{{value.originID}}" {{#compare value.originID "==" ../selected}}selected="selected"{{/compare}}>{{value.name}}</option>
        {{/eachProperty}}
    </select><br />