<label>{{title}}:</label>
    <select selected-index="{{selected}}" type="{{type}}">
        {{#eachProperty costums}}
            <option value="{{key}}" {{#compare key "==" ../selected}}selected="selected"{{/compare}}>{{key}}. {{value.name}}</option>
        {{/eachProperty}}
    </select><br />