<nav class="new-sidebar left" ng-show="trackmapReady" ng-init="{{ng-init}}">
    <div class="handler" ng-click="handleSidebars($event, 'left')"></div>
    <div class="content">
        <ul>
            <li>
                <div class="wrap">
                    <h2>{%'page.leftSidebar.stats'|translate%}</h2>
                    {{#with map}}
                        {%'page.leftSidebar.appVersion'|translate%}: {{version}}<br/>
                    {{/with}}

                    {%'page.leftSidebar.update'|translate%}: {%'{{lastUpdateTime}}'|humanReadableDate%}

                    <hr>

                    <div language-select></div>
                </div>
            </li>
            <li>
                <div class="wrap">
                    <h2>{%'page.title'|translate%}</h2>
                    <a href="/trackfinder.html">
                        Trackfinder ({%::data.tracks.length%})
                    </a>
                    {{#with seasons}}
                        <a href="/seasons.html">
                            {%'page.leftSidebar.goToSeasons'|translate:{ nums:{{_seasons.length}} }%} &raquo;
                        </a>
                    {{/with}}
                    {{#with wardrobe}}
                        <a href="/home-shack.html">
                            {%'page.leftSidebar.goToWardrobe'|translate%} ({{homeshack.length}}) &raquo;
                        </a>
                    {{/with}}
                    {{#with bikes.build.bikes}}
                        <a href="/garage.html">
                            {%'page.leftSidebar.goToGarage'|translate%} ({{objectLen bikes}}) &raquo;
                        </a>
                    {{/with}}
                    <a href="/wr-rider-temple.html">{%'page.leftSidebar.goToWRRiderTemple'|translate%} &raquo;</a>
                    <a href="/table-improve.html">{%'page.leftSidebar.goToImprove'|translate%} &raquo;</a>
                    <a href="/table-medals.html">{%'page.leftSidebar.goToMedals'|translate%} &raquo;</a>
                </div>
            </li>
            <li>
                <div class="wrap">
                    <h2>{%'page.leftSidebar.usefullLinks'|translate%}</h2>
                    {{#with map}}
                        {{#each database.map.usefull_links}}
                            <a href="{{href}}" target="_blank">{{title}} &raquo;</a>
                        {{/each}}
                    {{/with}}
                    <a href="/anniversary.html">{%'page.leftSidebar.goToAnniversary'|translate%} &raquo;</a>
                </div>
            </li>
            <li>
                <div class="wrap tierlegend">
                    <h2 class="with-cursor" ng-click="visibility('creditsVisible')">
                        {%'page.leftSidebar.credits'|translate%} ({%::data.map.credits.length%})</h2>

                    <div ng-show="creditsVisible">
                        {{#with map}}
                            {{#each database.map.credits}}
                                {{#if href}}
                                    <a href="{{href}}" target="_blank">{{text}}</a>
                                {{else}}
                                    <span class="like-a">{{text}}</span>
                                {{/if}}
                            {{/each}}
                        {{/with}}
                    </div>
                    <span class="with-cursor" ng-click="visibility('creditsVisible')"
                          ng-hide="creditsVisible">{%'page.leftSidebar.toggleMe'|translate%}</span>
                </div>
            </li>
        </ul>
    </div>
</nav>
