{{#extend "default"}}
    {{#content "htmlCtrl"}}data-without="myjson"{{/content}}

    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        {{#with ../bikes.build.bikes}}
            Garage - {{bike-stats bikes}} -
        {{/with}}
    {{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/main.css{{cacheBuster}}"/>
        <link rel="stylesheet" type="text/css" href="/dist/css/garage.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "ctrl"}}ng-controller="trackData"{{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}
    {{#content "preload-only"}}paintjobs{{/content}}

    {{#content "body"}}
        <div class="page-body">
        {{#with ../bikes.build.bikes}}
            {{> navigation title="Garage" badge=(bike-stats bikes)}}
            <div class="garage-big-image"
                 onclick="this.classList.remove('is-open');this.classList.remove('is-new');">
                <div class="garage-big-image__wrap">
                    <div class="garage-big-image__image"></div>
                </div>
                <span>
                    <div class="garage-big-image__icon">
                        <i></i>
                    </div>
                    <span class="garage-big-image__name"></span>
                </span>
            </div>
            <div class="sprite-table--wrap">
                <table class="sprite-table">
                    {{{garage-tier-cells
                        this
                        "sprite-table__tier"
                        "sprite-table__bike sprite-table__bike--scala"
                    }}}
                </table>
                <table class="sprite-table">
                    {{{garage-bike-rows
                        this
                        "sprite-table__bike"
                        "sprite-table__bike__paint-job"
                    }}}
                </table>
            </div>
        {{/with}}
        </div>
    {{/content}}
{{/extend}}