{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        {{#with seasons}}
            Seasons ({{_seasons.length}}) overview  -
        {{/with}}
    {{/content}}

    {{#content "preload-images"}}data:loaded{{/content}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/css/style-seasons.css{{cacheBuster}}"/>
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "body"}}
        {{#with seasons}}
            <div class="season-page" ng-controller="seasons">
                <div ng-init="pageReady = false" ng-hide="pageReady" class="loader spin"></div>
                <div class="page-body is-loading" data-event="data:loaded" data-finished="pageReady">
                    {{> season-navigation}}

                    <div class="seasons-list">
                        {{#each-reverse _seasons}}
                            <div class="box season-container">
                                <img class="season-banner" ng-src="{%'{{header.src}}'|hoster:data.hoster%}" alt="{{title}}" title="{{title}}" />

                                <div class="season-times">
                                    <strong>#{%'{{id}}'|leadingZero:2%}</strong>

                                    <span>{%'seasons.date'|translate%}: {{date}}</span> <br/>
                                    <span>{%'seasons.dateEnd{{#if active}}s{{/if}}'|translate%}: {{date_end}}</span>

                                    {{#if active}}
                                        <span class="countdown" date-start="{{date}}" date-end="{{date_end}}"></span>
                                    {{/if}}
                                </div>

                                <hr {{#if active}}class="protect-countdown"{{/if}}>

                                {{#if total_legends}}
                                <h2>{%'seasons.total_legends'|translate%}</h2>
                                    {{total_legends}}
                                    {{#if stats}}
                                    | <a href="{{stats}}" target="_blank" class="classic-link">{%'seasons.more_stats'|translate%}</a>
                                    {{/if}}
                                    <hr />
                                {{/if}}

                                <h2>{%'seasons.prices'|translate%}</h2>

                                <div class="season-prizes" stop-scroll>
                                    <table>
                                        {{#each prizes}}
                                            <tr>
                                                <td>
                                                    <i class="season-level-{{level}} seasons"></i>
                                                </td>
                                                <td title="{{title}}">
                                                <span class="season-prize" data-extra="{{extra}}"
                                                      data-extra-type="{{extra_type}}"
                                                      data-sprite-pointer="{{sprite_pointer}}"
                                                      data-index="{{add @index 1}}"></span>
                                                </td>
                                                <td class="right">
                                                    + {{coins}} <i class="coins"></i><br/>
                                                    + {{#if gems}}{{gems}}{{else}}0{{/if}} <i class="gems"></i>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </table>
                                </div>

                                <div class="season-summary" data-season-id="{{id}}"></div>
                            </div>
                        {{/each-reverse}}
                    </div>
                </div>
            </div>
        {{/with}}
    {{/content}}
{{/extend}}