{{#extend "default"}}
    {{#content "htmlCtrl"}}ng-controller="trackmap" data-without="worldrecords"{{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "data-event"}}data:loaded{{/content}}

    {{#content "body"}}
        {{#with ../paintjobs}}
            <div style="display:flex;">
            {{#each bikes}}
                <div style="display:inline-block;overflow:hidden;vertical-align:top;" title="{{bikename @key ../../map.database.bikes}}">
                    <span style="display:block;white-space:nowrap;padding:0 5px;color:#fff;text-align:center;">
                        {{bikename @key ../../map.database.bikes}} ({{this.length}})
                    </span>
                    {{#each this}}
                    <span style="display:block;white-space:nowrap;" title="{{name}}">
                        <i class="paintjob paintjob-{{@../key}}-{{add @key 1}}"></i>
                        <i class="paintjob-icon paintjob-icon-{{@../key}}-{{add @key 1}}"></i>
                    </span>
                    {{/each}}
                </div>
            {{/each}}
            </div>
        {{/with}}
    {{/content}}
{{/extend}}