{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}Trackfinder - {{/content}}
    {{#content "description"}}Find all 300+ Tracks easily with one searchfield of the whole Trials Frontier{{/content}}
    {{#content "url" mode="append"}}/trackfinder.html{{/content}}
    {{#content "image"}}https://i.imgur.com/ZAd5CmK.jpg{{/content}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/css/trackfinder.css{{cacheBuster}}"/>
    {{/content}}
    {{#content "htmlCtrl"}}ng-controller="trackData" data-snowflakes="no"{{/content}}
    {{#content "ctrl"}}ng-controller="trackFinder"{{/content}}
    {{#content "body"}}
        <div class="centerized" ng-class="{'iframe-view':iframeView}">
            <div class="trackfinder__wrap gradient-border with-box-shadow">
                <div class="trackfinder__message" ng-if="showMessage">
                    {%showMessage%}
                </div>
                <div class="trackfinder"
                    data-world="1"
                    data-world-name="Seymore & Lotz"
                    data-src="{{replaceHoster ../map.database.media.gfx.images.trackmaps.1.srcTrackfinder ../map.database.media.gfx.hoster}}"
                    data-dim-map="{{../map.database.media.gfx.images.trackmaps.1.dim}}"
                    data-dim-path="{{../map.database.media.gfx.images.trackmaps.1.dimPath}}"
                    ></div>
                <div class="trackfinder"
                    data-world="2"
                    data-world-name="Petrol Falls"
                    data-src="{{replaceHoster ../map.database.media.gfx.images.trackmaps.2.srcTrackfinder ../map.database.media.gfx.hoster}}"
                    data-dim-map="{{../map.database.media.gfx.images.trackmaps.2.dim}}"
                    data-dim-path="{{../map.database.media.gfx.images.trackmaps.2.dimPath}}"
                    ></div>
                <div class="trackfilter" ng-hide="iframeView">
                    <span class="trackfilter__search">
                        <button class="trackfilter__search__clear"
                                ng-show="searchTrack"
                                ng-click="clearSearch()">×</button>
                        <input type="text"
                               class="trackfilter__search__input with-box-shadow"
                               ng-class="{'with-icon':searchTrack !== ''}"
                               placeholder="{%'page.rightSidebar.searchForTrack'|translate%} ({%::data.tracks.length%})"
                               ng-model="searchTrack"
                               ng-model-options="{debounce:150}"/>
                    </span>
                    {{> language-select all-langs=true}}
                </div>
                <div class="banner" ng-hide="iframeView">
                    {{> facebook-script}}
                    <div class="content">
                        {{> facebook-div url="https://www.facebook.com/Trials-Frontier-Trackfinder-1986266344782873" width=350}}
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}