{{#extend "default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "body"}}
        <style>
            .costume-wrap {
                position : relative;
            }
            .costume-name {
                width: 133px;
                color: #fff;
                position: absolute;
                z-index: 1;
                text-align: center;
            }
            .costume-name__inner {
                display: block;
                background: rgba(57, 28, 20, 0.75);
                border: solid 2px #f4d992;
                border-radius: 10px;
                -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
                -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
                box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
                position: absolute;
                bottom: 20px;
                left: 5px;
                right: 5px;
                padding: 0 5px;
            }
        </style>

        <div class="page-body">
            {{> navigation}}

            {{#with ../wardrobe}}
                <div class="costume-wrap">
                    <img src="http://i.imgur.com/CumcaZ0.png" usemap="#costumes"/>
                    <map name="costumes">
                        {{#each order}}
                            <area shape="rect"
                                  coords="{{costumePosition @key @index}},50"
                                  href="{{costume ../all this "img"}}"
                                  target="_blank"
                                    />
                        {{/each}}
                    </map>
                    {{#each order}}
                        <span class="costume-name" style="{{costumeNamePosition @key @index}}">
                            <span class="costume-name__inner">{{costume ../all this "name"}}</span>
                        </span>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    {{/content}}
{{/extend}}