{{#extend "default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "body"}}
        <style>

        </style>

        <div class="page-body">
            {{> navigation}}

            {{#with ../wardrobe}}
                <img src="http://i.imgur.com/lkJLKaD.jpg" usemap="#costumes"/>
                <map name="costumes">
                    {{#each order}}
                        <area shape="rect"
                              alt="{{costume ../all this "name"}}"
                              title="{{costume ../all this "name"}}"
                              coords="{{costumePosition @key @index 12}},50"
                              href="{{costume ../all this "img"}}"
                              target="_blank"
                            />
                    {{/each}}
                </map>
            {{/with}}
        </div>
    {{/content}}
{{/extend}}