{{#extend "default"}}
    {{#content "title-override"}}true{{/content}}
    {{#content "title" mode="prepend"}}
        {{#with map.database.wishlist}}
            Wishlist ({{wishes.length}}) overview  -
        {{/with}}
    {{/content}}

    {{#content "data-event"}}data:loaded{{/content}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" type="text/css" href="/dist/main.css{{cacheBuster}}"/>
    {{/content}}

    {{#content "body"}}
        {{#with map.database.wishlist}}
            <div class="season-page" ng-controller="seasons">
                <div ng-init="pageReady = false" ng-hide="pageReady" class="loader spin"></div>
                <div class="page-body is-loading" data-event="data:loaded" data-finished="pageReady">
                    {{> navigation title="Wishlist overview" badge=wishes.length}}

                    <div class="wish-list">
                        <ul>
                        {{#each wishes}}
                            <li class="wishlist-item">
                                <a class="link link--bob link--list-item"
                                   {{#if thread}}
                                   target="_blank"
                                   href="{{#xif "typeof this.thread === 'string'"}}{{thread}}{{else}}{{thread.[0]}}{{/xif}}"
                                   {{/if}}>
                                    <strong>{{name}}</strong>
                                    <small class="other other--left-space">{{date}}</small>
                                    <br />
                                    <span>{{#if description}}{{description}}{{else}}Click link for more informations{{/if}}</span>
                                </a>
                                {{#xif "typeof this.thread !== 'string'"}}
                                    <a class="link link--bob" href="{{thread.[1]}}" target="_blank"><span>Alternative link</span></a>
                                {{/xif}}
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        {{/with}}
    {{/content}}
{{/extend}}